body{
	font-family: 'Karla', sans-serif;
	margin: 0;
	cursor: default;
}

/*nav bar*/

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 2% 10% 2% 10%;
	align-items: center;
}

.navDesk{
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: grey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 100%;
}

header img{
	object-fit: cover;
	width: 15%;
}

.navDesk a:hover{
	color: black;
	cursor: pointer;
}

.navDesk button{
	height: 50px;
	width: 150px;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: solid black;
	background-color: transparent;
	letter-spacing: 2px;
	cursor: pointer;
	font-size: 100%;
	z-index: 1;
}

.navDesk button:hover{
	background-color: black;
	color: white;
}

/*nav bar mobile*/

.mobbtnop{
	display: none;
	height: 50px;
	width: 60px;
	border-style: none;
	background-color: transparent;
	cursor: pointer;
}

.mobbtnop img{
	width: 100%;
	height: 100%;
}

#navMob{
	background: url("images/bg-pattern-mobile-nav.svg") no-repeat bottom center / 100%
				hsl(270, 9%, 17%);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	display: none;
	flex-direction: column;
	align-items: center;
}

.mbs1{
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2% 0 2% 0;
}

.mbs1 button{
	margin-right: 10%;
}

.mlogo{
	object-fit: fill;
	height: 50%;
	margin-left: 10%;
}

.mbs2{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding-top: 10%;
}

.mbs2 a{
	padding-top: 15%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 25px;
}

.mbs2 button{
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 25px;
	width: 200%;
	height: 50px;
	color: white;
	background-color: transparent;
	border: solid 2px white;
}

/*sections*/

.first{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5% 5%;
	padding: 10% 10%;
	align-items: start;
	background: linear-gradient(180deg, rgba(45,38,64,1) 0%, rgba(45,38,64,1) 70%, rgba(255,61,84,0) 70%, rgba(255,61,84,0) 100%);
	width: 80%;
	position: relative;
}

.first::before{
	content: url("images/bg-pattern-intro-right-desktop.svg");
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	height: 50%;
}

.first::after{
	content: url("images/bg-pattern-intro-left-desktop.svg");
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	pointer-events: none;
}

.first img{
	grid-row: span 4;
	order: 2;
	width: 100%;
}

.first h1{
	order: 1;
	color: white;
	font-family: 'DM Serif Display', sans-serif;
	font-size: 80px;
	font-weight: 400;
	line-height: 80px;
	padding-top: 75px;
	margin: 0;
	position: relative;
}

.first h1:after {
  content: "";
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 25%;
}

.first p{
	order: 3;
	color: white;
	line-height: 25px;
	letter-spacing: 1px;
	margin: 0;
}

.first button{
	order: 4;
	width: 150px;
	height: 50px;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 100%;
	font-weight: 700;
	border: solid white;
	background-color: transparent;
	letter-spacing: 2px;
	color: white;
}

.first button:hover{
	color: hsl(256, 26%, 20%);
	background-color: white;
}

.second{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 10%;
	gap: 15% 2%;
}

.second h2{
	grid-column: span 3;
	font-family: 'DM Serif Display', sans-serif;
	font-size: 75px;
	padding-top: 75px;
	font-weight: 400;
	position: relative;
	margin: 0;
}

.second h2:after {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 15%;
}

.second h4{
	font-family: 'DM Serif Display', sans-serif;
	font-weight: 400;
}

.second p{
	color: grey;
	line-height: 25px;
}

.third{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10%;
	width: 80%;
	background: url("images/bg-pattern-how-we-work-desktop.svg") no-repeat center right
				hsl(256, 26%, 20%);
}

.third h3{
	font-family: 'DM Serif Display', sans-serif;
	color: white;
	font-weight: 400;
	font-size: 50px;
	width: 50%;
	line-height: 55px;
}

.third button{
	width: 200px;
	height: 50px;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 100%;
	font-weight: 700;
	border: solid white;
	background-color: transparent;
	letter-spacing: 2px;
	color: white;
	font-size: 90%;
}

.third button:hover{
	color: hsl(256, 26%, 20%);
	background-color: white;
}

footer{
	background: url("images/bg-pattern-footer-desktop.svg") no-repeat top left
				hsl(0, 0%, 98%);
	padding: 5% 10%;
}

footer section{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.fs1{
	border-bottom: solid 1px grey;
	padding-bottom: 3%;
}

footer section div{
	width: 12%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer section div img:hover{
	filter: brightness(0) saturate(100%);
	cursor: pointer;
}

footer h4{
	text-transform: uppercase;
	color: grey;
	letter-spacing: 2px;
	font-weight: bold;
}

footer li{
	text-transform: uppercase;
	list-style-type: none;
	letter-spacing: 2px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
}

footer li:hover{
	text-decoration: underline 1.5px;
}

@media(max-width: 700px){
	/*nav bar*/
	
	header img{
		height: 100%;
		width: 35%;
	}
	
	.navDesk{
		display: none;
	}
	
	.mobbtnop{
		display: block;
	}
	
	/*sections*/
	
	.first{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
		background-color: rgba(45,38,64,1);
		align-items: center;
		text-align: center;
	}
	
	.first::before{
		content: url("images/bg-pattern-intro-right-mobile.svg");
		top: 85%;
	}
	
	.first::after{
		content: url("images/bg-pattern-intro-left-mobile.svg");
	}
		
	.first img{
		content: url("images/image-intro-mobile.jpg");
		width: 100%;
		order: 1;
		z-index: 1;
	}
	
	.first h1{
		order: 2;
		font-size: 55px;
		line-height: 60px;
		margin: 10% 5% 3% 5%;
	}
	
	.first h1:after{
		display: none;
	}
	
	.first p{
		order: 3;
		font-size: 15px;
		margin: 0 5% 5% 5%;
	}
	
	.first button{
		order: 4;
		margin-bottom: 15%;
	}
	
	.second{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.second h2{
		font-size: 50px;
		margin: 25% 3% 10% 3%;
	}
	
	.second h2:after{
	  top: 15%;
	  left: 25%;
	  width: 50%;
	}
	
	.second div{
		margin-top: 15%;
	}
	
	.second div h4{
		font-size: 25px;
		margin-bottom: 0;
	}
	
	.third{
		background: url("images/bg-pattern-how-we-work-mobile.svg") no-repeat top right
					hsl(256, 26%, 20%);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 0;
	}
	
	.third h3{
		font-size: 45px;
		margin: 15% 0 10% 0;
		width: 90%;
	}
	
	.third button{
		margin-bottom: 20%;
	}
	
	footer{
		background: url("images/bg-pattern-footer-mobile.svg") no-repeat top center / 100% 
					hsl(0, 0%, 98%);
		padding-top: 15%;
	}
	
	footer section{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 15% 0 10% 0;
	}
	
	footer section div{
		width: 40%;
		margin-top: 15%;
		margin-bottom: 15%;
	}
	
	footer ul{
		padding-left: 0;
	}
}